.DS_Store
*.lo
*.[od]
*.ox
*.oc
*.dc
*.oPIC
*.ocPIC
*~
*.swp
/publish/jni/publish/build/publish.build
/publish/jni/publish/publish.xcodeproj/project.xcworkspace/xcuserdata/daxi.xcuserdatad/UserInterfaceState.xcuserstate
.expected
.test
output/
libs/
obj/
librtmp.a
librelay.so
libpub.a
libpub.so
libview.so
libstat.so
libschedule.so
libval.so
libwebrtc.a
view
view_dv
pub
pub_dv
xcuserdata/
build/
loglol/
ipa/
DerivedData/
html/
ForWindows/Debug/*
ForWindows/Release/*
ForWindows/*/Debug/*
ForWindows/*/Release/*
ForWindows/ForWindows.sdf
ForWindows/ForWindows.opensdf
ForWindows/ForWindows.v12.suo
ForWindows/*.pdb
/.idea
/cmake-build-debug
